
*{
	margin-left:auto;
	margin-right:auto;
}

header{
	display:flex;
	flex-direction: column;
	width:80%;
}
#logo{
	display:block;
	width:200px;
	height:200px;
}
/*Nav Bar*/
nav{
	display:flex;
	justify-content:space-around;
	width:100%;
	padding:10px;
	align-items: center;
	border-top:#c8327d solid 2px;
	border-bottom:#c8327d solid 2px;
	font-family: 'Pacifico';
	

}
nav a{
	border-radius: 5px;
	background-color:#fff;
	padding:8px;
	text-decoration: none;
	color:#c8327d;
	font-size: 24px;

}
nav a:hover{
	-webkit-box-shadow:0px 0px 193px 24px rgba(212,74,210,0.56);
	-moz-box-shadow: 0px 0px 193px 24px rgba(212,74,210,0.56);
	box-shadow: 0px 0px 193px 24px rgba(212,74,210,0.56);
}
/*Cards for blog*/
.post1 { grid-area: 1 / 1 / 2 / 2; }
.post2 { grid-area: 1 / 2 / 2 / 3; }
.post3 { grid-area: 1 / 3 / 2 / 4; }
.post4 { grid-area: 2 / 1 / 3 / 2; }
.post5 { grid-area: 2 / 2 / 3 / 3; }
.post6 { grid-area: 2 / 3 / 3 / 4; }
.post7 { grid-area: 3 / 1 / 4 / 2; }
.post8 { grid-area: 3 / 2 / 4 / 3; }
.post9 { grid-area: 3 / 3 / 4 / 4; }
/*Main Blog Page*/
.blog-body{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 17px;
	grid-row-gap: 24px;
	padding-top:50px;
}
/*Card Design*/
.card{
    width:380px;
    font-family:"Quicksand";
    border-radius: 12px ;
}
.card-img{
    border-radius:12px;
}
.card-title{
    text-align: center;
    font-weight:900;
    font-size:22px;
}
.card a{
	text-decoration: none;
	color:#4b484a;
}
.card p{
    vertical-align:center;
}
.time{
    height:12px;
    width:12px;
}

.card:hover{
	color:#868084;
}

/*Blog Post*/
.article-head{
	display:flex;
	flex-direction:column;
	align-items: center;
	padding-top:50px;
}
.article-head h1{
	font-family:"Pacifico";
	font-size:64px;
	margin-bottom:5px;
	color:#4b484a
}
.article-head h2{
	font-family:"Quicksand";
	font-size:28px;
	color:#4b484a;
	margin-top:5px;
	font-weight:400;
}
article{
	font-family:"Quicksand";
	font-size:18px;
	text-align:center;
	margin-left:80px;
	margin-right:80px;
}






/*Footer Code*/
footer{
	background-color: #c8327d;
	margin-top: 10px;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	font-family:"Quicksand";
	color:#fff;
}
footer input{
	margin:10px;
}

footer img{
	padding-right:15px;
	padding-top:15px;
}
footer img:hover{
	box-shadow: 35px 31px 74px -9px rgb(238, 175, 224);
}